@{
    ViewData["Title"] = "About";
}
<header>
    <h2>About SeleniumPlayground</h2>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
    </ul>
</header>


<main>
    <p>A simple set of web pages used for testing selenium. Data is generated randomly using GenFu</p>


    <p>Links for reference....</p>
    <p>https://github.com/MisterJames/GenFu</p>
    <p>https://www.asp.net/</p>
    <p>https://www.seleniumhq.org/projects/webdriver/</p>
</main>

